# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.so
.Python
venv/
env/
.env

# Base de datos local 
*.db
*.sqlite
ejercicio_2/data/*
data/trivia_game.db  

# Logs
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Distribución
dist/
build/
*.egg-info/



